@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

/* GENERAL */

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

li,
a,
ul {
  text-decoration: none;
  color: #242424;
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
}

section {
  width: 100%;
}

/* WELCOME PAGE */

#welcome-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-container {
  width: 275px;
  margin-left: 20px;
}

.logo {
  width: 100%;
}

.navbar-button-list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-buttons,
.phone-number-item {
  margin: 0 15px;
}

.navbar-buttons {
  font-size: 18px;
}

.phone-number {
  font-weight: bold;
  font-size: 20px;
}

.button {
  position: relative;
}

.button-hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0px;
  background-color: #242424;
  bottom: -3px;
  left: 0;
  transition: all 300ms ease;
}

.button-hover-effect:hover:after {
  width: 100%;
}

.button-hover-effect-white:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0px;
  background-color: white;
  bottom: -3px;
  left: 0;
  transition: all 300ms ease;
}

.button-hover-effect-white:hover:after {
  width: 100%;
}

.welcome-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.welcome-img {
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

.info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-page-title {
  color: red;
  font-size: 50px;
  font-weight: bold;
}

.welcome-page-button {
  background-color: white;
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 2px solid;
  padding: 15px 32px;
  display: inline-block;
  width: 150px;
  margin-top: 20px;
  transition: all 300ms ease;
}

.welcome-page-button:hover {
  background-color: red;
  border: 2px solid red;
}

/* SERVICES */

.services-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.row {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
  width: 30%;
  max-height: 375px;
  position: relative;
  overflow: hidden;
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 450ms ease;
}

.service-title {
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  color: white;
  transform: translatey(100%);
  opacity: 0;
  transition: all 450ms ease;
  z-index: 3;
}

.service:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #1c1d25;
  transition: all 450ms ease;
  z-index: 2;
}

.service:hover:before {
  opacity: 0.75;
}

.service:hover .service-title {
  transform: translatey(-50%);
  opacity: 1;
}

.service:hover .service-img {
  transform: scale(1.07);
  filter: blur(5px);
}

/* CONTACT SECTION */

.contacts-container {
  width: 100%;
  height: 600px;
  background-image: url("./assets/contacts-image.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}

.contacts-container-shader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #44444481;
}

.contacts-title {
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

.contact-button {
  color: white;
  background-color: transparent;
  border: 2px solid;
  padding: 10px 20px;
  margin: 20px;
  transition: all 300ms ease;
}

.contact-button-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 300ms ease;
}

.contact-button:hover {
  border: 2px solid white;
  background-color: white;
}

.contact-button:hover .contact-button-link {
  color: black;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 400px;
  background-color: white;
}

.contact-info {
  font-size: 20px;
  margin: 30px;
}

/* PAST WORK */

#past-work {
  display: flex;
  justify-content: center;
  align-items: center;
}

.past-work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: red;
  padding: 40px 20px;
}

.past-work-img-container {
  width: 30%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.past-work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */

footer {
  width: 100%;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.business-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #cac9c9;
  width: 100%;
  padding: 50px;
}

.logo-img-container {
  max-width: 200px;
  max-height: 300px;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  margin: 15px;
  font-size: 35px;
}

.ownership-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.ownership {
  font-size: 16px;
}
